<%- include('partials/header') %>


<div style="background-color: #D32F2F;" class="jumbotron centered">
  <div class="container">
    <i class="fas fa-clock fa-6x"></i>
    <h1 class="display-3">Tomato Timer</h1>
    <p class="lead">Improve your productivity!</p>
    <hr>
    <a class="btn btn-dark btn-lg" href="/timer" role="button">Start Timer</a>
  </div>
</div>


<%- include('partials/footer') %>