<%- include('partials/header') %>


<div style="background-color: #D32F2F;" class="jumbotron centered">
  <div class="container">
    <i class="fas fa-clock fa-6x"></i>
    <h1 id="time" class="display-3">30:00</h1>
    <hr>
    <a class="btn btn-dark btn-lg" href="/" role="button">End</a>
  </div>
</div>

<script>
    document.getElementById('time').innerHTML = "30:00";
    startTimer();


    function startTimer() {
        var presentTime = document.getElementById('time').innerHTML;
        var timeArray = presentTime.split(/[:]+/);
        var m = timeArray[0];
        var s = checkSecond((timeArray[1] - 1));
        if(s==59){m=m-1}
        if(m<0){
            return
        }
  
        document.getElementById('time').innerHTML = m + ":" + s;
        console.log(m)
        setTimeout(startTimer, 1000);  
    }

    function checkSecond(sec) {
        if (sec < 10 && sec >= 0) {sec = "0" + sec}; // add zero in front of numbers < 10
        if (sec < 0) {sec = "59"};
        return sec;
    }
</script>

<%- include('partials/footer') %>